<launch>

  <node pkg="urg_node" type="urg_node" name="urg_node_0">
    <param name="frame_id" value="hokuyo_link" />
    <param name="serial_port" value="/dev/sensors/hokuyo_H1205387"/>
    <param name="publish_multiecho" value="false"/>
    <param name="angle_min" value="-1.047"/>
    <param name="angle_max" value="1.047"/>
    <param name="publish_intensity" value="true"/>
  </node>

  <node pkg="tf" type="static_transform_publisher" name="link1_broadcaster" args="0.3 0 0.1 0 0 0 1 base_link hokuyo_link 100" />

</launch>
